body {
    color: black;
    font-family: Arial W01 Bold903304;
    margin-left: 40px;
}

ul {
    margin: 4em 0;
} 


.main-menu li {
    display: block;
    line-height: 40px;
}
.main-menu a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    transition: all 0.7s ease-in-out 0.2s;
}
.main-menu a:hover {
    background: transparent;
    color: white;
}
 

.title {
    letter-spacing: 1px;
    font-size: 20px; 
}

.leftcolumn {   
  float: left;
  width: 50%;
}

.rightcolumn {
  float: left;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.form {
    
}
