body {
    color: #525252;
    font-family: Helvetica, Sans-Serif;
    margin-left: 80px;
    letter-spacing: 0.02em;
    font-size: 14px;
    text-decoration: none;
    font-weight: lighter;

}

h3 {
    color: #525252;
    font-family: Helvetica, Sans-Serif;
   
    letter-spacing: 0.02em;
    font-size: 18px;
    text-decoration: none;
    font-weight: normal;
}

h4 {
    color: #525252;
    font-family: Karla, Helvetica, Sans-Serif;
    letter-spacing: 0.02em;
    font-size: 14px;
    text-decoration: none;
    font-weight: lighter;
}

ul {
    margin: 4em 0;
} 


.main-menu li {
    display: block;
    line-height: 40px;
}
.main-menu a {
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: Arial W01 Bold903304;
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    transition: all 0.7s ease-in-out 0.2s;
}
.main-menu a:hover {
    background: transparent;
    color: white;
}
 

.title {
    letter-spacing: 1px;
    font-size: 20px; 
}

.leftcolumn {   
  float: left;
  width: 50%;
}

.rightcolumn {
  float: left;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.form {
    
}
